/* styles/global.css */

body {
  background-color: #1c3f7c;
  color: #fff;
}

.bold {
  font-weight: 500;
  line-height: 1.4;
}

p,
div {
  color: #fff;
}

a:link {
  color: #a0cffb;
  text-decoration: none;
}
a:visited {
  color: #a0cffb;
  text-decoration: none;
}
a:hover {
  color: #82c7f5;
  text-decoration: none;
}
a:active {
  color: #82c7f5;
  text-decoration: none;
}

.small-type {
  font-size: 0.8rem;
}
.med-type {
  font-size: 0.9rem;
}

.btn-primary {
  color: #fff !important;
}

.list-unstyled-small {
  padding-left: 0.9rem;
  font-size: 0.9rem;
  line-height: 1.3;
}

.list-unstyled-small li {
  margin-bottom: 0.5rem;
}

.cd-name {
  font-style: italic;
}

.lt-blue {
  background-color: #3d5f8f;
}

.baseline {
  border-bottom: 1px solid #0e2c51;
}

.navbar-dark {
  background-color: #000 !important;
}

.navbar-toggler {
  border: 1px solid #6b6b6b;
}

.nav-link {
  font-size: 0.9rem;
  letter-spacing: 0.03rem;
  font-weight: 500;
  color: #eee !important;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 0.4rem 0.8rem !important;
  margin: 0.2rem 0.2rem;
}

.footer-nav .nav-link {
  text-transform: none;
  font-weight: 400;
  font-size: 1.1rem;
  color: #c2c7cd !important;
}

.nav-link:hover {
  background-color: #11284e;
}
.footer-nav .nav-link:hover {
  background-color: none !important;
}

.list-inline-item a:link {
  color: #c2c7cd !important;
  text-decoration: none;
}
.list-inline-item a:visited {
  color: #c2c7cd !important;
  text-decoration: none;
}
.list-inline-item a:hover {
  color: #c2c7cd !important;
  text-decoration: none;
}
.list-inline-item a:active {
  color: #c2c7cd !important;
  text-decoration: none;
}

.navbar-nav .show > .nav-link,
.navbar-nav .nav-link.active {
  background-color: #1c3f7c;
}

footer,
footer div,
footer p {
  background-color: #58606c;
  color: #c2c7cd;
}

.wp-block-quote {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-style: italic;
  margin: 2.5rem 0 2.5rem 0;
  padding: 0 0 0 2rem;
  border-left: 8px solid #3b588d;
}

.wp-block-quote p {
  color: #ffdd35;
  font-size: 1.1rem !important;
  line-height: 1.6;
  margin: 0 0 0.8rem 0;
  padding: 0 1rem 0 0;
}

cite {
  font-family: "Roboto Slab", serif;
  font-weight: 400;
  font-size: 1.1rem !important;
  line-height: 1.6;
  margin: 0 !important;
  padding: -1rem 0 0 0 !important;
}

cite::before {
  content: "— ";
}

h1,
h2,
h3,
h4,
h5,
h6,
.prod-prev {
  color: #fff;
}

.display-1,
.display-2 {
  letter-spacing: -0.1rem;
}

hr {
  color: inherit;
  border: 0;
  border-top: 2px solid #8194b8;
  opacity: 0.5;
}

.mr-75pct {
  margin-right: 75%;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
}

.small-caps {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  font-size: 0.95rem;
  font-weight: 500;
  color: #82c7f5;
}

.h5-caps {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ffdd35;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.yellow {
  color: #ffdd35;
}

.img-overlay-logo {
  position: absolute;
  top: 0;
  right: 0;
}

.img-overlay-title {
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
}

.demo {
  color: #ffffff;
  border: 1px solid #ffffff66;
}

.bids {
  color: #eee;
  font-size: 1.6rem;
  margin: 0.3rem;
  padding: 0.5rem 0.3rem 0.3rem 0.3rem;
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.6));
}

.bids:hover {
  color: #ffdd35;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.8));
}

.bids-md {
  color: #eee;
  font-size: 1.8rem;
}

.bids-sm {
  color: #eee;
  font-size: 1.1rem;
}

.cover-img {
  border: 1px solid #254e95;
  box-shadow: 0px 0px 12px #254e95;
  transition: all 0.15s ease-out;
  /* -webkit-transform: scale(0.99, 0.99);
  transform: scale(0.99, 0.99); */
}

/* .cover-img:hover {
  box-shadow: 6px 11px 8px #0b2045;
  transition: all 0.15s ease-out;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
} */

.avatar {
  border: 1px solid #496eae;
  box-shadow: 1px 2px 4px #030b1a;
}

/* shows page */
.shows-content p {
  line-height: 1.4;
}
.shows-content hr {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.shows-content h5.show-date {
  margin-top: 0;
  margin-bottom: 0.2rem;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 500;
  color: #ffdd35;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.shows-content h5.show-venue {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}
.shows-content h4 {
  font-size: 1.4rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.anchor {
  display: block;
  position: relative;
  top: -52px;
  visibility: hidden;
}

.nowrap {
  /* white-space: pre; */
  overflow: scroll;
  color: #fff;
  font-size: 0.8rem;
  font-family: Menlo, "Courier New", Courier, monospace;
  user-select: all;
  -moz-user-select: all;
  -webkit-user-select: all;
}
.card {
  border-radius: 0.4rem;
}

.card-img-top {
  border-radius: 0.4rem 0.4rem 0 0;
}

.media-card {
  font-size: 0.9rem;
  line-height: 1.2;
}
.side-bar {
  padding: 1.5rem;
  background-color: #2e5394;
}
